<div *ngIf="user">

    <div class="container">
        <div class="row">
          <span class="col-md-4 d-flex justify-content-center flex-column">
              <i class="fas fa-user-circle fa-10x text-center"></i><br>
              <h1 class="text-center">{{user.name}} </h1>

          </span>
            <ul class="list-group col-md-8 mt-5">
              <li class="list-group-item">
                Email: {{user.email}}
              </li>
              <li class="list-group-item">
                Phone: {{user.phone}}
              </li>
              <li class="list-group-item">
                <button class="badge badge-info badge-pill" [routerLink]="['/updateaccount', user._id]" >Edit your info</button>
              </li>
            </ul>

    </div>
  </div>
</div>