<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show" data-toggle="tab" href="#yourAdvert">Your Advert</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#AddnewAdvert">Post a house Advert</a>
    </li>
</ul>

<!--your advert tab-->
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show mt-3" id="yourAdvert" >
        
        <div *ngIf="house; else showNohouse">
          <div >
            <ul class="list-group" *ngFor="let hss of house; let i = index">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      {{hss.title}} <br> {{hss.description | slice:0:100}} <br> 

                        <span>
                          <a class="nav-link" class="badge badge-info badge-pill" [routerLink]="['/updatehouse', hss._id]" >Update</a><br>
                          <button class="badge badge-primary badge-pill" (click)="onDeleteHouse(hss._id, i)" >Delete</button>
                        </span>
                    </li>
                  </ul>
                </div>
        </div>

          <ng-template #showNohouse>
                  <p>You have not yet posted any rent advert!</p>
          </ng-template>
        
        
    </div>

<!-- Add new ad of house -->
    <div class="tab-pane fade show mt-3" id="AddnewAdvert">

            <form (ngSubmit)="onSubmitNewHouse(title, description, availability, rent, location, houseImage)" #addAdvertForm = ngForm>
                  <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" #title [(ngModel)]="titlet" class="form-control" name="title" required>
                  </div>
            
                  <div class="form-group">
                      <label for="">Description</label>
                      <input type="text" #description class="form-control" ngModel name="description" required>
                    </div>
            
                    <div class="form-group">
                        <label for="">Available From </label>
                        <input type="date" #availability class="form-control"  name="availability">
                    </div>
            
                    <div class="form-group">
                      <label for="">Rent/month</label>
                      <input type="number" #rent class="form-control"  name="rent" required>
                    </div>

                    <div class="form-group">
                            <label for="">Location</label>
                            <input type="text" #location class="form-control"  name="location" >
                          </div>

                    <div class="form-group">
                        <label for="">Picture</label>
                            <input type="file" #houseImage class="form-control" (change)="onfileSelected($event.target.files)" name="houseImage" >
                      </div>
                  
                  <input type="submit" class="btn btn-primary" value="Post" [disabled]="!addAdvertForm.form.valid" >
              </form>

    </div>

</div>