<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show" data-toggle="tab" href="#yourAdvert">Your Advert</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#AddnewAdvert">Post a house Advert</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="yourAdvert">
        <p>You have not yet posted any rent advert!</p>
    </div>

<!-- Add new ad of house -->
    <div class="tab-pane fade show" id="AddnewAdvert">

            <form (submit)="onSubmitNewHouse()">
                  <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" [(ngModel)]="title" class="form-control" name="title">
                  </div>
            
                  <div class="form-group">
                      <label for="">Description</label>
                      <input type="text" class="form-control" [(ngModel)]="description" name="description">
                    </div>
            
                    <div class="form-group">
                        <label for="">Available From </label>
                        <input type="date" class="form-control" [(ngModel)]="availability" name="availability">
                    </div>
            
                    <div class="form-group">
                      <label for="">Rent/month</label>
                      <input type="number" class="form-control" [(ngModel)]="rent" name="rent" >
                    </div>

                    <div class="form-group">
                            <label for="">Location</label>
                            <input type="text" class="form-control" [(ngModel)]="location" name="location" >
                          </div>
                  
                  <input type="submit" class="btn btn-primary" value="Post">
              
              </form>

    </div>

</div>