
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start" *ngIf="house">
        <strong class="d-inline-block mb-2 text-primary">Rent : {{house.rent}} / month</strong>
        <h3 class="mb-2">
          <h1 class="text-dark" >{{house.title}}</h1>
        </h3>
        <div class="mb-2 text-muted">Available From : {{house.availability | date:"MM/dd/yy" }}</div>
        <div class="mb-2 text-muted">Published on : {{house.posted | date:"MM/dd/yy"}}</div>
        <p class="card-text mb-auto">{{house.description}}</p>
        <div class="mb-2 text-muted mt-3"><i class="fas fa-map-marker-alt"></i>  {{house.location}}</div>
        <div class="mb-2 text-muted" ><i class="far fa-id-badge"></i>  {{owner.name | uppercase}}</div>
        <div class="mb-2 text-muted "><i class="fas fa-phone"></i>  {{owner.phone}}</div>
        <div class="mb-2 text-muted "><i class="fas fa-at"></i>  {{owner.email}}</div>



      </div>
      <img class="img-thumbnail card-img-right flex-auto" src="http://localhost:3000/{{house.houseImage}}" alt="Card image cap">
    </div>
